// Frontend/css/style.css 

.doctor-form input {
    display: block;
    margin: 8px;
    margin-bottom: 8px;
    padding: 6px;
    width: 300px;
}
.doctor-list {
    margin-top: 20px;
}
.doctor-item {
    background: #f4f4f4;;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.delete-btn {
    margin-top: 6px;
    background-color: #ff5555;
    color: #fff;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e04646;
}